@page
@model Frontend.Pages.UserDataModel
@{
}

<table class="table">
    @foreach (var dato in Model.DatoUser)
    {
        <tr>
            <td>@dato.Nombre</td>
            <td>@dato.Edad</td>
        </tr>
    }
</table>
